.ck.ck-editor__top {
  height: 40px;
}

.ck.ck-editor__editable {
  height: calc(70vh - 40px);
  font-size: var(--font-m);
  font-weight: var(--weight-m);
  background-color: rgb(var(--ui-bg-rgb)) !important;
  border: none;
  overflow-y: scroll !important;
}

.ck.ck-editor__editable_inline {
  padding-bottom: 60px !important;
}

.ck.ck-editor__editable h2 {
  padding: 10px 0;
  border-bottom: 1px dotted rgb(var(--border-rgb));
  font-weight: var(--weight-t);
  font-size: var(--font-l);
}

.ck.ck-editor__editable h3 {
  font-size: var(--font-m);
  font-weight: var(--weight-t);
  padding: 6px 0;
}

.ck.ck-editor__editable h4 {
  font-size: var(--font-s);
  font-weight: var(--weight-t);
  padding: 4px 0;
}

.ck.ck-editor__editable p {
  padding: 3px 0;
}

.ck.ck-editor__editable pre {
  margin: 5px auto;
}

.ck.ck-editor__editable ul {
  padding: 5px 0 5px 20px;
}

.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  border: none;
}
.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
  border: none !important;
  box-shadow: none !important;
}

.ck.ck-toolbar {
  border: none !important;
  border-bottom: 1px solid rgb(var(--border-rgb)) !important;
}
