.board {
  --item-width: 31%;
  width: 100%;
  padding: 10px 0;
}

.ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--item-width));
  grid-auto-rows: auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.board_list .ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.li {
  width: 100%;
  height: fit-content;
  border-radius: 3px;
  background-color: rgb(var(--ui-bg-rgb));
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: var(--strong-shadow);
}

.li:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: var(--strong-shadow-hover);
}

.img_wrapper {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  background-color: rgb(225, 221, 221);
  filter: brightness(0.95);
}

.img_wrapper > img {
  object-fit: cover;
}

.title_wrapper {
  max-height: calc(var(--item-width) / 2);
  padding: 8px 12px;
  overflow: hidden;
}

.topic {
  margin-bottom: 2px;
  padding: 2px 7px;
  position: relative;
  border-radius: 4px;
  font-size: var(--font-m);
  text-transform: uppercase;
  background-color: rgb(var(--highlight-rgb));
}

.title {
  max-height: calc(var(--item-width) / 2);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: calc(var(--font-l) + 6px);
  font-size: var(--font-l);
  font-weight: var(--weight-t);
}

.content_wrapper {
  width: 100%;
  height: fit-content;
  padding: 10px;
  position: relative;
}

.content {
  max-height: calc(var(--item-width) / 2);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: calc(var(--font-m) + 4px);
  font-size: var(--font-m);
}

.content_long {
  -webkit-line-clamp: 7;
}

.content_short {
  -webkit-line-clamp: 3;
}

.board_list .title_wrapper,
.board_list .content_wrapper {
  padding: 10px;
}

.board_list .title,
.board_list .content {
  -webkit-line-clamp: 2;
}

.empty {
  width: min(400px, 94vw);
  aspect-ratio: 4/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-t);
  font-weight: var(--weight-t);
}

.empty a {
  border-radius: var(--border-radius);
  padding: 20px;
  background-color: rgb(var(--border-rgb));
  transition: 0.3s ease;
}

.empty a:hover {
  scale: 1.05;
}

.pageNav {
  width: var(--header-width);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: var(--font-l);
  background-color: white;
}

.pageNav_dir {
  width: 17px;
  height: 17px;
}
.pageNav_num {
  font-size: var(--font-m);
}

.pageNav_num_cur {
  transform: translateY(-1px);
  font-weight: var(--weight-l);
}

@media screen and (max-width: 769px) {
  .board {
    --item-width: 100%;
  }
}
