.pre {
  --item-width: 31%;
  width: 100%;
  padding: 10px 0;
}

.ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--item-width));
  grid-auto-rows: auto;
  justify-content: center;
  align-items: center;
  gap: 14px;
  list-style: none;
}

.ul_list {
  display: flex;
  flex-direction: column;
}

.item {
  width: 100%;
  height: fit-content;
  border-radius: var(--border-radius);
  background-color: rgb(var(--ui-bg-rgb));
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover {
  transform: translateY(-7px) scale(1.01);
  box-shadow: var(--strong-shadow-hover);
}

.item_img_wrapper {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  background-color: rgb(225, 221, 221);
  filter: brightness(0.95);
}

.item_img {
  object-fit: cover;
}

.item_title_wrapper {
  max-height: calc(var(--item-width) / 2);
  padding: 10px;
  overflow: hidden;
}

.item_topic {
  margin-right: 2px;
  padding: 3px 7px;
  position: relative;
  border-radius: 8px;
  font-size: var(--font-s);
  font-weight: var(--weight-t);
  text-transform: uppercase;
  background-color: rgb(var(--highlight-rgb));
  color: black;
}

.item_title {
  max-height: calc(var(--item-width) / 2);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: calc(var(--font-l) + 6px);
  font-size: var(--font-l);
  font-weight: var(--weight-t);
}

.item_content_wrapper {
  width: 100%;
  height: fit-content;
  padding: 5px 12px 12px 12px;
  position: relative;
}

.item_content {
  max-height: calc(var(--item-width) / 2);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: calc(var(--font-m) + 4px);
  font-size: var(--font-m);
  -webkit-line-clamp: 3;
}

.ul_list .title_wrapper,
.ul_list .content_wrapper {
  padding: 10px;
}

.ul_list .title,
.ul_list .content {
  -webkit-line-clamp: 2;
}

.empty {
  width: var(--header-width);
  aspect-ratio: 4/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-t);
  font-weight: var(--weight-t);
  border-radius: var(--border-radius);
  background: rgb(var(--ui-bg-rgb));
}

.empty a {
  border-radius: var(--border-radius);
  padding: 20px;
  background-color: rgb(var(--border-rgb));
  transition: 0.3s ease;
}

.empty a:hover {
  scale: 1.05;
}

.pageNav {
  width: var(--header-width);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  font-size: var(--font-l);
  background-color: white;
}

.pageNav_dir {
  width: 17px;
  height: 17px;
}
.pageNav_num {
  font-size: var(--font-m);
}

.pageNav_num_cur {
  transform: translateY(-1px);
  font-weight: var(--weight-l);
}

@media screen and (max-width: 769px) {
  .pre {
    --item-width: 100%;
  }
}
