.pre {
  width: var(--content-width);
  padding: 5px;
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}

.pre ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  font-size: var(--font-l);
}

.pre li {
  list-style: none;
}

.dir {
  width: 17px;
  height: 17px;
}
.page {
  font-size: var(--font-m);
}

.page_cur {
  transform: translateY(-1px);
  font-weight: var(--weight-l);
}
