.pre {
  width: var(--header-width);
  padding: 5px 10px;
  position: fixed;
  left: 50vw;
  bottom: 10px;
  transform: translateX(-50%);
  z-index: 3;
}

.pre ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: var(--font-l);
}

.pre li {
  display: flex;
  align-items: center;
  list-style: none;
}

.dir {
  width: 20px;
  height: 20px;
}

.page {
  width: 20px;
  display: block;
  font-size: var(--font-m);
  text-align: center;
}

.page_cur {
  font-weight: var(--weight-l);
}

.btn_wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 3px;
}

.btn_wrapper > button {
  width: 30px;
  height: 30px;
  display: inline-block;
}
