.pre {
  width: 136px;
  height: 30px;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: var(--font-m);
  text-align: center;
  border-radius: var(--border-radius);
  z-index: 2;
}

.select > option {
  font-size: var(--font-m);
  text-align: center;
}
