.header {
  width: var(--header-width);
  height: var(--header-height);
  padding: 10px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.4s ease, top 0.4s ease;
  z-index: 2;
}

.title_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.topic {
  font-size: var(--font-m);
  font-weight: var(--weight-t);
  cursor: default;
}

.btn_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.btn_wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input_search {
  flex-grow: 1;
  height: 90%;
  padding: 5px 10px;
  border: 1px solid rgba(var(--border-rgb));
  border-radius: 7px;
  outline: none;
  font-size: var(--font-m);
}

.menu {
  width: 100%;
  height: fit-content;
  padding: 10px 15px;
  position: absolute;
  left: 0;
  top: calc(var(--header-height));
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  opacity: 0;
  animation: show 0.2s 1 ease forwards;
}

.menu_item {
  width: fit-content;
  height: fit-content;
  margin: 5px;
  padding: 5px 10px;
  background-color: rgb(199, 203, 218);
  border-radius: 7px;
  font-weight: 600;
  color: black;
}

.menu_item_focus {
  background-color: rgb(var(--focus-rgb));
  color: white;
}

.menu_btnWrapper {
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-top: 1px dotted rgba(var(--border-rgb));
}

.btn_write {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_sign {
  position: fixed;
  top: 10px;
  left: 35px;
  z-index: 2;
}

.login_sign::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: -27px;
  top: 50%;
  transform: translateY(-50%);
  background-color: lightgreen;
  border-radius: 100%;
}
@keyframes show {
  100% {
    opacity: 1;
    transform: translateY(20px);
  }
}
