.pre {
  width: 100%;
  display: flex;
  gap: 10px;
}

.grid_col {
  width: calc((100% - 20px) / 3);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  width: 100%;
  height: fit-content;
  padding: 10px 0;
  position: relative;
  top: 10px;
  border-radius: var(--border-radius);
  background-color: rgb(var(--bg-a-rgb));
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  list-style: none;
  transition: 0.3s;
  overflow: hidden;
}

.item_qna {
  min-height: 60px;
  margin: 5px 0;
  padding: 6px 0;
  display: flex;
  align-items: center;
  border-radius: 20px 0 25px 20px;
}

.item a {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item_hover {
  transform: translateY(-7px);
  box-shadow: var(--strong-shadow-hover);
}

.item_metadata {
  height: fit-content;
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.item_topic {
  padding: 3px 6px;
  display: inline-block;
  position: relative;
  border-radius: 8px;
  font-size: var(--font-xvs);
  font-weight: var(--weight-t);
  text-transform: uppercase;
  background-color: rgb(var(--highlight-rgb));
  color: black;
}

.item_tags_container {
  flex-grow: 1;
  overflow: hidden;
}

.item_tags {
  width: fit-content;
  display: flex;
  gap: 8px;
  position: relative;
  font-size: var(--font-xvs);
  font-weight: var(--weight-m);
  color: rgb(var(--font-sub-rgb));
}

.item_tags span {
  white-space: nowrap;
}

.item_hover .item_tags_rotate {
  animation: rotate 6s linear infinite;
}

@keyframes rotate {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.item_title {
  margin: 3px 0;
  padding: 0 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: calc(var(--font-m) + 6px);
  font-size: var(--font-m);
  font-weight: var(--weight-t);
  z-index: 2;
}

.item_img_wrapper {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  background-color: rgb(var(--bg-a-rgb));
  filter: brightness(0.985);
}

.item_img {
  object-fit: cover;
}

.item_content {
  width: 100%;
  padding: 0 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-height: calc(var(--font-s) + 4px);
  font-size: var(--font-s);
}

.item_profile {
  margin-top: 3px;
  padding: 0 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
}

.item_profile img {
  border-radius: 100%;
}

.item_profile span {
  font-size: var(--font-xvs);
  font-weight: var(--weight-l);
}

.item_loader_pre {
  width: 5px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 6px;
  right: 7px;
  border: 6px solid;
  border-color: rgb(var(--border-rgb)) rgb(var(--green-rgb))
    rgb(var(--green-rgb)) rgb(var(--green-rgb));
  border-radius: 100%;
  animation: spin 1.3s ease infinite;
  z-index: 2;
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}

.item_q_mark {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotateZ(16deg);
  border-radius: 100%;
  text-align: center;
  font-size: 6.8rem;
  font-weight: var(--weight-t);
  color: rgb(var(--highlight-rgb));
}

.empty {
  width: var(--header-width);
  aspect-ratio: 4/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-t);
  font-weight: var(--weight-t);
  border-radius: var(--border-radius);
  background: rgb(var(--bg-a-rgb));
}

.empty a {
  border-radius: var(--border-radius);
  padding: 20px;
  background-color: rgb(var(--highlight-rgb));
  transition: 0.3s ease;
}

.empty a:hover {
  scale: 1.05;
}
