.pre {
  width: 100%;
  padding: 5px;
  position: absolute;
  bottom: 0;
  background-color: inherit;
  border-radius: inherit;
}

.pre ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  font-size: var(--font-l);
}

.pre li {
  list-style: none;
}

.dir {
  width: 17px;
  height: 17px;
}

.page {
  width: 20px;
  font-size: var(--font-m);
  text-align: center;
}

.page_cur {
  transform: translateY(-1px);
  font-weight: var(--weight-l);
}
