.pre {
  --nav-height: 14px;
  width: 100%;
  height: fit-content;
  background-color: inherit;
  border-radius: inherit;
}

.pre ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: var(--font-s);
}

.pre li {
  height: fit-content;
  list-style: none;
}

.dir {
  width: var(--nav-height);
  height: var(--nav-height);
}

.page {
  width: 20px;
  text-align: center;
}

.page_cur {
  transform: translateY(-1px);
  font-weight: var(--weight-l);
}
