:root {
  --header-width: min(450px, 91vw);
  --header-height: 50px;
  --content-width: min(1020px, 94vw);
  --max-width: 1100px;
  --border-radius: 12px;

  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-t: 28px;
  --font-l: 21px;
  --font-m: 18px;
  --font-s: 16px;
  --font-vs: 14px;
  --font-xvs: 12px;

  --weight-t: 700;
  --weight-l: 600;
  --weight-m: 500;

  --background-rgb: 242, 244, 246;
  --card-rgb: 248, 248, 250;
  --font-rgb: 60, 60, 60;
  --sub-rgb: 84, 86, 105;
  --border-rgb: 181, 185, 200;
  --focus-rgb: 119, 143, 194;
  --highlight-rgb: 199, 203, 218;
  --ui-bg-rgb: 255, 255, 255;

  --default-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  --strong-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  --strong-shadow-hover: 0px 3px 3px 1px rgba(0, 0, 0, 0.15);

  --hover-bright: 0.95;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 43, 43, 43;
    --background-rgb: 53, 53, 58;
    --card-rgb: 59, 59, 66;
    --font-rgb: 240, 240, 240;
    --border-rgb: 185, 185, 185;
    --focus-rgb: 119, 143, 194;
    --ui-bg-rgb: 41, 41, 47;

    --hover-bright: 1.2;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  width: 5px;
  color: rgb(var(--highlight-rgb));
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(164, 168, 177);
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  background: rgb(var(--background-rgb));
  color: rgb(var(--font-rgb));
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

blockquote {
  padding: 5px 16px !important;
  border-radius: var(--border-radius);
  border: none !important;
  background-color: rgb(var(--highlight-rgb));
  font-style: italic;
  font-weight: var(--weight-m);
}

.main {
  width: var(--content-width);
  margin: 0 auto;
  padding: 100px 0px 30px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border-radius: var(--border-radius);
  background: rgb(var(--card-rgb));
  box-shadow: var(--strong-shadow);
}

.text-tiny {
  font-size: var(--font-vs) !important;
}

.text-small {
  font-size: var(--font-s) !important;
}

.text-big {
  font-size: var(--font-l) !important;
}

.text-huge {
  font-size: var(--font-t) !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
