.pre {
  width: var(--header-width);
  height: 65vh;
  padding: 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: var(--weight-l);
}

.bg {
  position: absolute;
  left: 10%;
  bottom: -10px;
  font-size: 200px;
  line-height: 200px;
  color: rgb(var(--bg-b-rgb));
  letter-spacing: -10px;
}

.content {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  font-size: var(--font-s);
  transform: translateY(-70px);
}

.content > p {
  padding: 0 10px;
}

.content > a {
  width: 100%;
  padding: 6px 10px 6px 16px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: rgb(var(--highlight-rgb));
  border-radius: 40px;
}

.content > a > span {
  flex-grow: 1;
  text-align: center;
  font-size: var(--font-m);
  font-weight: var(--weight-t);
}
