.pre {
  width: 100%;
  height: fit-content;
  padding: 13px;
  border-radius: var(--border-radius);
  background-color: rgb(var(--bg-a-rgb));
}

.profile {
  width: 100%;
  padding: 10px 5px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile > img {
  border-radius: 100%;
}

.profile > span {
  font-size: var(--font-m);
  font-weight: var(--weight-t);
}

.profile > button {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.my_posts {
  width: 100%;
  height: fit-content;
  background-color: rgb(var(--bg-a-rgb));
  border-radius: var(--border-radius);
}

.spinner_pre {
  width: 100%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(var(--border-sub-rgb));
  border-radius: var(--border-radius);
}

.nav_container {
  padding: 7px 0px;
  position: relative;
  display: flex;
  border-radius: var(--border-radius);
  overflow-y: scroll;
}

.nav_container::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.nav {
  width: fit-content;
  height: fit-content;
  position: relative;
  left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
  transition: 0.5s ease;
}

.btn_topic {
  padding: 6px 8px;
  font-size: var(--font-vs);
  font-weight: var(--weight-l);
  cursor: default;
  color: rgb(var(--font-sub-rgb));
  transition: 0.3s;
  box-shadow: none;
  background-color: rgb(var(--bg-b-rgb));
  border-radius: var(--border-radius);
}

.btn_topic:hover {
  color: rgb(var(--font-rgb));
  transform: translateY(-2px);
}

.btn_topic_focus {
  color: rgb(var(--font-rgb));
}
