.post {
  width: 100%;
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(var(--ui-bg-rgb));
  border-radius: var(--border-radius);
}

.data_wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  color: rgb(var(--border-rgb));
  text-transform: capitalize;
}

.post h1 {
  width: 100%;
  padding: 0 10px;
  text-align: start;
  font-size: var(--font-l);
  font-weight: var(--weight-l);
}

.content {
  width: 100%;
  min-height: 160px;
  padding: 20px 10px 0 10px;
  padding-top: 20px;
  font-size: var(--font-m);
}

.btn_wrapper {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

.btn {
  transition: filter 0.2s ease;
}

.btn:hover {
  filter: brightness(0.4);
}

.related {
  width: 100%;
  height: fit-content;
  margin-top: 30px;
  background-color: rgb(var(--ui-bg-rgb));
  border-radius: var(--border-radius);
}

.related h3 {
  width: 100%;
  padding: 10px;
  padding-bottom: 0;
  text-align: center;
  font-weight: var(--weight-l);
}

.related ul {
  padding: 15px;
  list-style: none;
}

.related li {
  padding: 7px 10px;
  font-size: var(--font-m);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid rgb(var(--background-rgb));
  background-color: rgb(var(--ui-bg-rgb));
  transition: filter 0.2s ease;
}

.related a {
  width: 100%;
  display: block;
}

.related li:hover {
  filter: brightness(0.97);
}

.related li:last-child {
  margin-bottom: 10px;
}

.related_cur {
  font-weight: var(--weight-l);
}
