.main {
  width: 100%;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(var(--ui-bg-rgb));
  border-radius: var(--border-radius);
}

.main h1 {
  width: 100%;
  margin-bottom: 10px;
  text-align: start;
  font-size: var(--font-t);
  font-weight: var(--weight-t);
}

.dataWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.metadata {
  width: fit-content;
  padding-left: 1px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  font-size: 13px;
  color: rgb(var(--border-rgb));
}

.metadata > span:nth-child(2) {
  margin-left: 5px;
  text-transform: capitalize;
}

.btns {
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}

.btn {
  transition: filter 0.2s ease;
}

.btn:hover {
  filter: brightness(0.4);
}

.main h2 {
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 1px dotted rgb(var(--border-rgb));
  font-weight: var(--weight-t);
  font-size: var(--font-l);
}

.main h3 {
  font-size: var(--font-m);
  font-weight: var(--weight-t);
  padding: 6px 0;
}

.main h4 {
  font-size: var(--font-s);
  font-weight: var(--weight-t);
  padding: 4px 0;
}

.main p {
  padding: 3px 0;
}

.main ul {
  padding: 5px 0 5px 20px;
}

.main a {
  color: rgb(var(--focus-rgb));
}

.content {
  width: 100%;
  min-height: 160px;
  padding: 20px 0;
  padding-top: 20px;
  font-size: var(--font-m);
}

.content img {
  display: block;
  margin: 17px auto;
}

.relatePosts {
  width: 100%;
  height: fit-content;
  margin-top: 30px;
  background-color: rgb(var(--ui-bg-rgb));
  border-radius: var(--border-radius);
}

.relatePosts h3 {
  width: 100%;
  padding: 10px;
  padding-bottom: 0;
  text-align: center;
  font-weight: var(--weight-l);
}

.relatePosts ul {
  padding: 15px;
  list-style: none;
}

.relatePosts li {
  padding: 7px 10px;
  font-size: var(--font-m);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid rgb(var(--background-rgb));
  background-color: rgb(var(--ui-bg-rgb));
  transition: filter 0.2s ease;
}

.relatePosts a {
  width: 100%;
  display: block;
}

.relatePosts li:hover {
  filter: brightness(0.97);
}

.relatePosts li:last-child {
  margin-bottom: 10px;
  border: none;
}

.related_cur {
  font-weight: var(--weight-l);
}
