.pre {
  width: var(--content-width);
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(var(--bg-a-rgb));
  border-radius: var(--border-radius);
}

.title {
  width: 100%;
  margin-bottom: 10px;
  text-align: start;
  font-size: var(--font-xt);
  font-weight: var(--weight-t);
  line-height: calc(var(--font-xt) + 10px);
  letter-spacing: -1px;
}

.metadata {
  width: fit-content;
  margin: 10px 0px 20px 0;
  padding-left: 1px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 10px;
}

.metadata > img {
  border-radius: 100%;
}

.metadata > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.metadata span {
  white-space: nowrap;
}

.metadata > div > span:nth-child(1) {
  font-size: var(--font-vs);
  font-weight: var(--weight-l);
  line-height: calc(var(--font-vs) + 5px);
}

.metadata > div > span:nth-child(2) {
  font-size: var(--font-xvs);
  text-transform: lowercase;
}

.btns {
  width: fit-content;
  padding: 7px 13px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  position: fixed;
  bottom: 30px;
  right: 5vw;
  z-index: 3;
}

.content {
  width: 100%;
  min-height: 160px;
  padding: 40px 0;
}

.content h2 {
  padding-left: 16px;
  margin-bottom: 10px;
  position: relative;
  font-weight: var(--weight-t);
  font-size: var(--font-t);
  line-height: calc(var(--font-t) + 11px);
  position: relative;
  text-align: start;
  letter-spacing: -1px;
  overflow: hidden;
}

.content h2::after {
  content: "";
  width: 8px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(var(--highlight-title-rgb));
  border-radius: 4px;
}

.content h2:not(:first-child) {
  margin-top: 90px;
}

.content h3 {
  margin: 10px 0;
  font-size: var(--font-l);
  font-weight: var(--weight-t);
  line-height: calc(var(--font-l) + 11px);
}

.content h3 span {
  font-size: var(--font-l);
  font-weight: var(--weight-t);
}

.content h4 {
  margin: 10px 0;
  font-size: var(--font-m);
  font-weight: var(--weight-t) !important;
  line-height: calc(var(--font-m) + 11px);
}

.content p {
  margin: 10px 0 25px 0;
  font-size: var(--font-m);
  line-height: calc(var(--font-m) + 11px);
}

.content span {
  border-radius: 4px;
  font-size: var(--font-m);
  line-height: calc(var(--font-m) + 11px);
}

.content ul {
  margin: 10px 0 30px 0;
  padding: 3px 0 3px 20px;
}

.content li {
  margin: 10px 0;
  font-size: var(--font-m);
  line-height: calc(var(--font-m) + 10px);
}

.content li:first-child {
  margin: 0 0 10px 0;
}

.content a {
  color: rgb(var(--focus-rgb));
  font-weight: var(--weight-l);
  text-decoration: underline;
}

.content figure {
  margin: 25px auto;
}

@media screen and (max-width: 576px) {
  .content figure {
    width: 100% !important;
  }
}

.content img {
  width: 100%;
  height: fit-content;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.13);
  border-radius: var(--border-radius);
}

.content strong {
  padding: 0 5px;
  border-radius: 4px;
  background-color: rgb(var(--border-sub-rgb));
  font-weight: var(--weight-l);
}

.hashtags {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.hashtags span {
  white-space: nowrap;
}

.relate_pre {
  width: var(--content-width);
  height: 330px;
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(var(--bg-a-rgb));
  border-radius: var(--border-radius);
}

.relate_pre > h3 {
  width: 100%;
  padding: 10px;
  padding-bottom: 0;
  position: relative;
  text-align: center;
  font-weight: var(--weight-l);
}

.relate_pre > ul {
  width: calc(100% - 30px);
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 15px;
  position: absolute;
  left: 15px;
  top: 50px;
  list-style: none;
}

.relate_pre > ul > li {
  width: 100%;
  height: calc(var(--font-m) + 4px);
  border-radius: 6px;
}
