.pre {
  width: 100%;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(var(--ui-bg-rgb));
  border-radius: var(--border-radius);
}

.title {
  width: 100%;
  margin-bottom: 10px;
  text-align: start;
  font-size: var(--font-t);
  font-weight: var(--weight-t);
}

.dataWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.metadata {
  width: fit-content;
  margin: 3px 0 10px 0px;
  padding-left: 1px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  color: rgb(var(--sub-rgb));
}

.metadata > img {
  border-radius: 100%;
}

.metadata > span:nth-child(2) {
  margin-left: 5px;
  text-transform: capitalize;
}

.btns {
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}

.content {
  width: 100%;
  min-height: 160px;
  padding: 20px 0;
  padding-top: 20px;
}

.content h2 {
  margin-bottom: 10px;
  padding: 5px 0;
  border-bottom: 1px dotted rgb(var(--sub-rgb));
  font-weight: var(--weight-t);
  font-size: var(--font-l);
}

.content h3 {
  margin: 10px 0;
  font-size: var(--font-m);
  font-weight: var(--weight-t);
}

.content h4 {
  margin: 10px 0;
  font-size: var(--font-s);
  font-weight: var(--weight-t);
}

.content p {
  margin: 10px 0;
  font-size: var(--font-m);
  line-height: calc(var(--font-m) + 8px);
}

.content span {
  font-size: var(--font-m);
  line-height: calc(var(--font-m) + 8px);
}

.content ul {
  padding: 5px 0 5px 20px;
}

.content li {
  line-height: calc(var(--font-m) + 10px);
}

.content a {
  color: rgb(var(--focus-rgb));
  font-weight: var(--weight-l);
  text-decoration: underline;
}

.content img {
  display: block;
  margin: 17px auto;
}

.hashtags {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  color: rgb(var(--font-sub-rgb));
}

.hashtags span {
  white-space: nowrap;
}

.relatePosts {
  width: 100%;
  height: fit-content;
  margin-top: 30px;
  background-color: rgb(var(--ui-bg-rgb));
  border-radius: var(--border-radius);
}

.relatePosts h3 {
  width: 100%;
  padding: 10px;
  padding-bottom: 0;
  text-align: center;
  font-weight: var(--weight-l);
}

.relatePosts ul {
  padding: 15px;
  list-style: none;
}

.relatePosts li {
  padding: 7px 10px;
  font-size: var(--font-m);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid rgb(var(--background-rgb));
  background-color: rgb(var(--ui-bg-rgb));
  transition: filter 0.2s ease;
}

.relatePosts a {
  width: 100%;
  display: block;
}

.relatePosts li:not(.related_cur):hover {
  filter: brightness(var(--hover-bright));
}

.relatePosts li:last-child {
  margin-bottom: 10px;
  border: none;
}

.related_cur {
  font-weight: var(--weight-l);
  cursor: default;
}
