.pre {
  border-radius: var(--border-radius);
}

.header {
  width: 100%;
  padding: 8px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > h2 {
  font-size: var(--font-m);
  font-weight: var(--weight-l);
  line-height: var(--font-m);
}

.ul {
  width: 100%;
  min-height: 65vh;
  margin: 10px 0;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: var(--border-radius);
  border: 1px solid rgb(var(--border-sub-rgb));
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.ul li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  list-style: none;
}

.ul a {
  width: calc(100% - 25px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--weight-l);
  gap: 8px;
}

.item_idx {
  width: 20px;
  font-size: var(--font-xvs);
  text-align: center;
}

.item_title {
  width: 70%;
  margin-right: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: var(--font-xvs);
}

.item_date {
  width: 75px;
  font-size: var(--font-xvs);
  white-space: nowrap;
  text-align: start;
}

.checkbox {
  width: 16px;
  height: 16px;
  border: 2px solid rgb(var(--border-rgb));
  background-color: rgb(var(--bg-a-rgb));
  border-radius: 4px;
}

.checkbox_active {
  background-color: rgb(var(--focus-rgb));
}

.btn_wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.btn {
  height: 28px;
  white-space: nowrap;
  padding: 5px 8px;
  background-color: rgb(var(--highlight-rgb));
  border-radius: var(--border-radius);
  color: black;
}

.empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-m);
  font-weight: var(--weight-l);
  text-transform: capitalize;
}

.loader_pre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
